*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Courier', monospace;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: rgb(0, 0, 0);  
    overflow-x: hidden; 
}

nav{
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: rgb(0, 0, 0);
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 99999;
  }

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    font-weight: bold;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: red;
    position: absolute;
    left: 0%;
    bottom: 0%;
    transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text {
    padding: 50px;
    color: white;
}

.header-text span{
    color: yellow;  
}

.header-text h1{
    font-weight: 600;
    color: white;
}
.header-text h4{
    color: yellow;  
    text-decoration: underline;
    font-weight: bold   ;
}

#card1{
    display: flex;
    justify-content: center;
    flex-direction:column;
    text-align: center;
}

#card2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile {
    width:  100%;
    height: 100%;
    border-radius: 50%;
}

/* ----------About---------*/
#about{
    position: relative;
    padding: 80px 0;
    color: #ababab;
    width: 100%;
    height: 100vh;
}

.row1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 30px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: yellow;
}

.tab-titiles{
    display: flex;
    margin: 20px 0 10px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;   
    color: white;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0%;
    bottom: 0%;
    transition: 0.3s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents{
    list-style: none;
    margin: 10px 0;
}

.tab-contents span{
    color: yellow;
    font-size: 16px;
    font-weight: bold;
}
.tab-contents p{
    color: white;
    margin-left: 10px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ----------Contact---------*/
#contact{
    position: relative;
}

.row2{
    display: flex;
}

#img{
    width: 40px;
    height: 40px;
}

  .social-icons{
    margin-top: 30px;
  }

  .social-icons a{
    text-decoration: none;
    font-size: 50px;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    display: inline-block;
    transition: transform 0.5s;
    background-color: rgb(0, 0, 0);
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
  }
  .social-icons #facebook:hover{
    color: blue;
    transform: translateY(-5px);
  }

  .contact-right .sub-title{
    text-align: center;
    font-size: 40px;     
}
.contact-left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 50%;
}

.contact-right{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    width: 50%;
}

.contact-right .box-website p a{
    text-decoration: none;
    color: white;
}
.contact-right .box-website p #logo{
    width: 100px;
    height: 100px;
    border-radius: 20%;
}
  
.copyright{
    width: 100%;
    text-align: center;
    padding: 5px 0;
    background: #262626;
    font-weight: 300;
}

/*------- CSS FOR Small Screen -----*/
nav .fa{
    display: none;
}
@media screen and (max-width: 900px){

    *{
        margin: 0;
        padding: 0;
        color: white;
        font-family: 'Courier', monospace;
        box-sizing: border-box;
        font-size: 20px;
    }

    nav .fa{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: rgb(0, 0, 0);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 9999;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fa{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .header-text h1{
        font-size: 22px;
        }
    .header-text h4{
        font-size: 22px;
    }
    #card1{
        display: flex;
        justify-content: center;
        flex-direction:column;
        text-align: center;
    }
    
    #card2 .header-text{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .profile {
        width:  70%;
        height: 70%;
        border-radius: 50%;
    }
/*----------about----------*/
    #about{
        height: auto;
        display: flex;
        justify-content: center;
        padding: 10%;
    }

    .about-col-1 img {
        width: 50%;
        border-radius: 15px;
    }

    .tab-contents span{
        color: yellow;
        font-size: 20px;
        font-weight: bold;
    }

    .sub-title{
        font-size: 35px;
    }
    
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;    
    }
    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }


    /*------- Contact -----*/
    .contact-left{
        flex-basis: 100%;
        padding-left: 10%;
    }

    .contact-left p{
        font-size: 16px;
    }


    #img{
        width: 30px;
        height: 30px;
    }
    
    .social-icons a{
        text-decoration: none;
        font-size: 30px;
        margin-right: 15px;
        color: rgb(255, 255, 255);
        display: inline-block;
        transition: transform 0.5s;
        background-color: rgb(0, 0, 0);
    }
    .contact-right{
        padding-left: 15%;
    }
    .contact-right .sub-title{
        text-align: center;
        font-size: 30px;     
    }
    .contact-right .box-website p a{
        text-decoration: none;
        color: white;
    }
    
    .contact-right .box-website p #logo{
        width: 50px;
        height: 50px;
        border-radius: 20%;
    }
    .copyright{
        font-size: 14px;
    }

}
